:root {
    --nav-bg-color: rgba(1, 1, 77, 0.888);
    --user-nav-bg-color: rgba(104, 104, 208, 0.888);
    --dropdown-bg-color: #F9DD56;
    --dropdown-hover-color: #575757;
    --text-color: white;
    --text-hover-color: rgba(1, 1, 77, 0.888);
}


.logo {
    max-height: 100px;
    width: auto;
    text-align: center;
    display: inline-block;
    margin-inline: auto;
}

.user-container {
    display: flex; /* Utiliza Flexbox para alinear los elementos en línea horizontal */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    gap: 8px; /* Espacio entre la imagen y el texto */
    height: 100%; /* Asegura que el contenedor ocupe el alto disponible */
}

.UserLogo {
    max-height: 25px; /* Ajusta el tamaño de la imagen */
    width: auto;
}

/* Navbar principal */
.navbar {

    background-color: var(--nav-bg-color);    /* Change background color */
    display: flex; /* Flexbox to align items */
    justify-content: center; /* Center items horizontally */
    padding: 0;
    width: 100%; /* Full width for horizontal bar */
    position: relative; /* This can stay if you want the navbar to be ordered relative to the page */
    top: 0;
    left: 0;
}

.nav-list {

    list-style-type: none; /* Remove bullets */
    display: flex; /* Flexbox to display list items horizontally */
    margin: 0;
    padding: 0;
    justify-content: space-around; /* Space evenly across the navbar */
    width: 100%;
}

.nav-list li {
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
    display: inline-block; /* Asegúrate de que cada elemento de la lista esté en bloque */
    width: 100%;

}

.nav-list li a {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
    padding: 15px;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
}

.nav-list li a:hover {
    color: var(--text-hover-color);
    background-color: white;
    border: 1px solid var(--nav-bg-color);
}

.vert-navbar{
    text-align: center;
    display: inline-block;
    margin-inline: auto;
    background-color: var(--user-nav-bg-color);
    border: 1px solid var(--nav-bg-color);

}

/* Dropdown Menu */
.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--user-nav-bg-color);
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown li {
    color: var(--text-color);
    border-bottom: 1px solid #555;
    text-align: left;
}

.dropdown li:hover {
    background-color: var(--dropdown-hover-color);
}

.nav-list li:hover .dropdown {
    display: block;
}
