/* 
  File Name: App.css
  Description: This file contains basic CSS styling for the main application, 
               ensuring proper alignment and formatting of the content.
  Team's Name: BOFC
  Group Number: 04
  Date: November 23, 2024
*/

.App {
  text-align: center;
}